<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">

        <!-- CSS -->
        <link  rel=stylesheet href="{% static 'style.css' %}">

        <!-- Title -->
        <title>Story 9 Bagus</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        <!-- AJAX -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>



    </head>

    <body class="background">

        <div class="container">

            <!-- Title -->

            <div class="header">WELCOME TO BOOK SEARCH!</div>
            
            <!-- Search Box -->

            <div>

                <div class="input-group mb-3">

                    <input type="text" class="form-control form-color" id="search-bar" placeholder="what kind of book do you want to find...">

                </div>

            </div>

            <!-- Modal -->

            <div>

                <button type="button" class="btn btn-primary most-liked-button" data-toggle="modal" data-target="#LikedBooks">
                    MOST LIKED BOOKS
                </button>

                <!-- Modal -->
                <div class="modal fade" id="LikedBooks" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header modal-header-background">

                                <h5 class="modal-title" class="modal-title">TOP 5 BOOKS</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>

                            <div class="modal-body modal-text" id="content">
                                most liked
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">CLOSE</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <!-- Search Results Table -->

            <div>

                <table class="table table-borderless table-align-text">

                    <thead>

                        <tr class="table-header">
                            <th scope="col">No.</th>
                            <th scope="col"></th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Year</th>
                            <th scope="col"></th>
                        </tr>

                    </thead>

                    <tbody id="search-result" class="table-content"></tbody>

                </table>

            </div>

        </div>            

        <!-- JS -->
        <script src="{% static 'search.js' %}"></script>

    </body>

</html>