.background{
    background-color:black
}

.header{
    font-family: 'Playfair Display', serif;
    font-size: 200%;
    align-self: center;
    color: white;
    margin-top: 50px;
}

.most-liked-button{
    font-family: 'Playfair Display', serif;
    font-size: 150%;
    background: #CC5500 !important;
    color: black !important;
    border : none !important;
    margin-bottom: 50px;
}

.modal-header-background{
    background: #CC5500 !important;
}

.modal-title{
    font-family: 'Playfair Display', serif;
    font-size: 150%;
    color: black;
}

.modal-text{
    font-family: 'Playfair Display', serif;
    font-size: 100%;
    color: black !important;
}

.close-button{
    font-family: 'Playfair Display', serif;
    font-size: 150%;
    background: black !important;
    color: white !important;
    border : none !important;
}

.form-color{
    background-color: #D3D3D3 !important;
    font-family: 'Playfair Display', serif;
    color: black !important;
    margin-top: 20px;
}

.table-align-text{
    align-items: center;
    text-align: center;
}

.table-header{
    font-family: 'Playfair Display', serif;
    color: white !important;
    font-size: 150%;
}

.table-content{
    font-family: 'Playfair Display', serif;
    color: white !important;
    font-size: 100%;
}